tests/bjson.so
examples/test_fib
examples/*.so
examples/hello
examples/hello_module
examples/hello.exe
examples/test_fib.exe

?*~
\#?*#
.#?*#

/build/
/install/
CMakeUserPresets.json

.dir-locals-2.el

compile_commands.json

/tmp/
/.cache/
